PORT=3000
FHIR_BASE_URL=https://cdr.pheref.fhirlab.net/fhir
TEAM_CODE=TEAM04
REFERRING_FACILITY_NHFR=9901
RECEIVING_FACILITY_NHFR=8802
REFERRING_FACILITY_NAME=R12 Training Referring Facility
RECEIVING_FACILITY_NAME=R12 Training Receiving Facility